
  <!-- Header -->
  <div class="p-5 text-center">
    <h1>Bookings dashboard</h1>
  </div>

  <!-- Page Content -->
  <div class="container mt-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <h2>Welcome!</h2>
      <p class="lead">My bookings</p>
    </div>

  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
      <th>#</th>
      <th>Category</th>
      <th>Date</th>
      <th>Event</th>
      <th>Booking Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>13.12.2025</td>
      <td>Berghain Concert</td>
      <td>Active</td>
    </tr>
  </tbody>
</table>

  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
      <th>#</th>
      <th>Musician name</th>
      <th>Date</th>
      <th>Event</th>
      <th>Booking Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>29.11.2025</td>
      <td>Berghain Concert</td>
      <td><div class="input-group" >
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          <option value="1">Accept</option>
          <option value="2">Decline</option>
          <option value="3">Pending</option>
        </select>
        <button class="btn btn-outline-secondary" type="button">Save</button>
      </div></td>
    </tr>
  </tbody>
</table>


</div>
