.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-app-dark-bg {
  background-color: #343a40;
  // border-radius: 10px;
  // padding: 1.5rem;
  // margin-top: 2rem;
  // margin-bottom: 2rem;
}
